# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart
.dart_tool/
.packages
build/
*.dart.js
*.dart.js.map

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/

# Dependencies
pubspec.lock

# Superpowers
.superpowers/
